@page "/transfer-projects/{projectId}/tasks/stakeholder-kickoff/edit"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.Transfer.Tasks.StakeholderKickoff.EditStakeholderKickoffTaskModel
@{
    var backlink = string.Format(RouteConstants.TransferEditStakeholderKickoffTask, Model.ProjectId);
}
@section BeforeMain {
    <a href=@backlink class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
    External stakeholder kick-off
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <govuk-checkbox-input label="Send introductory emails"
                                  asp-for="@Model.SendIntroEmails"
                                  name="send-intro-emails"
                                  id="transfer_task_stakeholder_kick_off_task_form_introductory_emails"
                                  add-margin=false />

            <govuk-checkbox-input label="Send invites to the kick-off meeting or call"
                                  asp-for="@Model.SendInvites"
                                  name="send-invites"
                                  id="transfer_task_stakeholder_kick_off_task_form_setup_meeting"
                                  add-margin=false />

            <govuk-checkbox-input label="Host the kick-off meeting or call"
                                  asp-for="@Model.HostMeetingOrCall"
                                  name="host-meeting-or-call"
                                  id="transfer_task_stakeholder_kick_off_task_form_meeting"
                                  add-margin=false />

            <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and return</button>
        </form>
    </div>
</div>
