@page "/projects/{projectId}/notes/{noteId?}/edit"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.EditProjectNoteModel
@{
    var getNotesLink = string.Format(RouteConstants.ProjectViewNotes, Model.ProjectId);
}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <govuk-textarea-input id="note-text" names="note-text" label=" Enter note" asp-for="@Model.NoteText" rows="5" bold-label="true" />

            <div class="govuk-button-group">
                <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save note</button>
                <a class="govuk-link" href="@getNotesLink">Cancel</a>
            </div>
        </form>
    </div>
</div>
