@page "/projects/all/in-progress/all"
@model Dfe.Complete.Pages.Projects.All.ProjectsInProgressModel
@{
    ViewData["Title"] = "All projects in progress";
}

<div class="govuk-grid-column-full">
    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
                <th class="govuk-table__header" scope="col">Project type</th>
                <th class="govuk-table__header" scope="col">Form a MAT project?</th>
                <th class="govuk-table__header" scope="col">Assigned to</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/B2EC9640-E6FD-4578-826E-7488931AEC24">Fleetville Junior School</a>
                </td>
                <td class="govuk-table__cell">117137</td>
                <td class="govuk-table__cell">Jan 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/83A84379-BB36-4934-BB94-490C94B30FAB">Vickerstown School</a>
                </td>
                <td class="govuk-table__cell">112209</td>
                <td class="govuk-table__cell">May 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Lorna Harwood</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/3D1D6D36-FD0A-4B46-876E-4E70330B2EF0">St Joseph's Rc Primary School</a>
                </td>
                <td class="govuk-table__cell">101133</td>
                <td class="govuk-table__cell">Jun 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Fahad Darwash</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/370924F2-B85D-4381-9F48-0C5B8C90BD36">Swell Church of England Primary School</a>
                </td>
                <td class="govuk-table__cell">115652</td>
                <td class="govuk-table__cell">Jun 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Ming Chan</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/AE857857-9CCD-4AA5-98B7-FBD5AB120580">Abacus Primary School</a>
                </td>
                <td class="govuk-table__cell">133312</td>
                <td class="govuk-table__cell">Jul 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Mike Morant</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/0A003103-6C4B-481F-A4FD-1A20C5F8C558">St Joseph's Rc Primary School</a>
                </td>
                <td class="govuk-table__cell">101133</td>
                <td class="govuk-table__cell">Aug 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Mike Morant</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/B2355609-EF97-463A-9388-31C55835A157">Newham Bridge Primary School</a>
                </td>
                <td class="govuk-table__cell">111585</td>
                <td class="govuk-table__cell">Sep 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/941E3F55-7001-45E9-9E51-3E5BB3ED5AD1">Catmose College</a>
                </td>
                <td class="govuk-table__cell">136530</td>
                <td class="govuk-table__cell">Oct 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Richard Cooley</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/F18E0214-E816-40A2-BCE9-CCAAE3646CF9">Roecliffe Church of England Primary School</a>
                </td>
                <td class="govuk-table__cell">121583</td>
                <td class="govuk-table__cell">Oct 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/918181E3-761C-4D71-A7B5-ADF1A953FD2B">Francis Bacon School</a>
                </td>
                <td class="govuk-table__cell">117574</td>
                <td class="govuk-table__cell">Oct 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/081BA4AD-FBDD-4DB1-ABE1-494BEB80C9AC">Newcastle Academy</a>
                </td>
                <td class="govuk-table__cell">142277</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Alice Richardson</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/6A244819-D45A-4537-ACE7-7D58610CE5F8">Bartley Green School A Specialist Technology and Sports College</a>
                </td>
                <td class="govuk-table__cell">103491</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/BF35DA97-A7B8-4A7A-B2E8-997E60E2369C">St Gerard's Catholic Primary School</a>
                </td>
                <td class="govuk-table__cell">139877</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/E481FDE1-DC3E-4FD8-B99D-26EE5585CCDF">Swell Church of England Primary School</a>
                </td>
                <td class="govuk-table__cell">115652</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Zuleima Morgado</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/577F3461-CAFC-4003-AFB7-060FC752B036">Broadfield Primary School</a>
                </td>
                <td class="govuk-table__cell">105676</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Richard Cooley</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/B05A9F85-7851-4AEE-81A6-054C36474A2F">St Joseph's Catholic Primary School</a>
                </td>
                <td class="govuk-table__cell">140590</td>
                <td class="govuk-table__cell">Dec 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/EF592888-D0AF-4C0F-BCEF-F1BEBC6AFD10">St Bede's Catholic Primary School</a>
                </td>
                <td class="govuk-table__cell">139876</td>
                <td class="govuk-table__cell">Dec 2023</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/510F7B0C-E2AE-43EC-80ED-F8EB7D46295A">Anglesey Primary School</a>
                </td>
                <td class="govuk-table__cell">132074</td>
                <td class="govuk-table__cell">Jan 2024</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Meyric Rawlings</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/0D08D0C3-A53F-4B11-8F4F-AB8595D58B10">Fleetville Junior School</a>
                </td>
                <td class="govuk-table__cell">117137</td>
                <td class="govuk-table__cell">Jan 2024</td>
                <td class="govuk-table__cell">Conversion</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Mike Morant</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a href="/projects/E932DFA8-4DF6-4176-9747-FCCF6686B397">New Bradwell Primary School</a>
                </td>
                <td class="govuk-table__cell">144424</td>
                <td class="govuk-table__cell">Jan 2024</td>
                <td class="govuk-table__cell">Transfer</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Mike Morant</td>
            </tr>
        </tbody>
    </table>

    <nav role="navigation" aria-label="results" class="govuk-pagination"><ul class="govuk-pagination__list"><li class="govuk-pagination__item govuk-pagination__item--current" aria-label="Page 1"><a href="/projects/all/in-progress/all?page=1" class="govuk-link govuk-pagination__link">1</a></li><li class="govuk-pagination__item" aria-label="Page 2"><a href="/projects/all/in-progress/all?page=2" class="govuk-link govuk-pagination__link">2</a></li><li class="govuk-pagination__item" aria-label="Page 3"><a href="/projects/all/in-progress/all?page=3" class="govuk-link govuk-pagination__link">3</a></li></ul><div class="govuk-pagination__next"><a href="/projects/all/in-progress/all?page=2" class="govuk-link govuk-pagination__link" rel="next"><span class="govuk-pagination__link-title govuk-pagination__link-title--decorated">Next<span class="govuk-visually-hidden"> page</span></span><svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" focusable="false" viewBox="0 0 15 13" aria-hidden="true"><path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path></svg></a></div></nav>

</div>